.modalContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 1;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  display: flex;
  flex-direction: column;
  position: relative;
  vertical-align: middle;
  background-color: #fefefe;
  width: fit-content;
  max-width: 1400px;
  min-width: 40svw;
  min-height: 40svh;
  box-sizing: border-box;
  border-radius: 8px;
}

.closeButton {
  position: absolute;
  top: -20px;
  right: -20px;
  border-radius: 50%;
  padding: 5px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: #ff4b4b;
  cursor: pointer;
  transition:
    scale 0.3s,
    box-shadow 0.3s;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.closeButton:hover {
  scale: 1.1;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modalContent {
  padding: 20px;
  display: grid;
  flex: 1;
}

.vertical {
  align-items: center;
}

.modalActionContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 15px;
}

.modalActionButton {
  display: inline-block;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  margin: 0 0.5rem;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  border-radius: 0.25rem;
  transition: all 0.15s ease-in-out;
}

.btnDanger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btnDanger:active,
.btnDanger:hover {
  background-color: #c82333;
  border-color: #bd2130;
}

.btnDanger:focus {
  border-color: #ffffff00;
  outline: 0;
  box-shadow: 0 0 0 3px rgba(220, 53, 69, 0.5);
}

.btnSuccess {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btnSuccess:active,
.btnSuccess:hover {
  background-color: #218838;
  border-color: #1e7e34;
}

.btnSuccess:focus {
  border-color: #ffffff00;
  outline: 0;
  box-shadow: 0 0 0 3px rgba(40, 167, 69, 0.5);
}

body:has(.modalContainer) {
  overflow: hidden;
}
